<div style="width: 100%;text-align: center;">
	<div class="mat-display-1" style="margin: 10px;">Le blog</div>
	<div *ngIf="addr.length==0">
		<h3>L'accès au blog est réservé aux visiteurs authentifiés</h3>

		<!--				[showDynamicToken]="false"-->
		<!--				[showWebcam]="false"-->
		<!--				[showNetwork]="false"-->
		<!--				[showWalletConnect]="false"-->
		<!--				[showNfluentWalletConnect]="true"-->
		<!--		network="elrond-devnet"-->
		<!--				[checknft]="nfts_necessaires"-->

<!--		nfluent_server="https://server.f80lab.com:4242"-->

		<button type="button" mat-raised-button mat-button color="primary"
		        (click)="open_store()">
			Obtenir un NFT
		</button>
		<br>
		<br>
		<app-authent
				operation="nfluent_access_card"
				[size]="'400px'"
				validator_name="leblognfluent"
				[directShowQRCode]="true"
				style="margin-top: 10px;"
				explain_message="Veuillez connecter votre wallet pour vérifier le NFT d'accès"
				(cancel)="cancel()"
				(disconnect)="disconnect()"
				(invalid)="fail()"
				(authent)="authent($event)"></app-authent>
		Si vous posséder déjà le NFT d'accès
		<br>
		<br>


	</div>


	<div *ngIf="addr.length>0">
		<app-reversebloc *ngFor="let article of articles"
		                 [image]="article.visual"
		                 [color]="article.color"
		                 fontsize="large"
		                 [title]="article.title"
		                 width="400px" height="300px">
			<div [innerHTML]="article.content" style="width: 100%;height:80%;">

			</div>
			<button mat-raised-button mat-button aria-label="Prestashop" (click)="open_article(article)" color="primary">
				Voir en entier
			</button>

		</app-reversebloc>


	</div>
</div>
