
	<app-input label="Your name" [value]="name" (valueChange)="name=$event"></app-input><br>
	<app-input label="Your email" [value]="email" (valueChange)="email=$event"></app-input><br>
	<app-input label="The subject" [value]="subject" (valueChange)="subject=$event"></app-input><br>
	<app-input label="The application" [value]="appli" [options]="applis"></app-input><br>

	<app-input label="Your message" [cols]="20" [rows]="5"
	           (valueChange)="message=$event"
	           [value]="message" (validate)="send_message()"></app-input><br>

	<br><br>

	<button mat-button mat-raised-button
	        [disabled]="message.length<10 || email.length<5"
	        type="submit" color="primary"
	        style="padding: 30px;" (click)="send_message()">
		<mat-icon style="font-size: x-large;">send</mat-icon>&nbsp;&nbsp;SEND
	</button>
