<div class="mainform" style="position:fixed;width:100vw;height:100vh;background-repeat: no-repeat;background-size: cover;" [style.background-image]="'url('+background_image+')'">
	<div class="background-component" style="position:absolute;left:3%;top:3%;min-height: 90vh;max-width: 500px;width:90%;display: inline-block;text-align: center;color: white;padding: 10px;z-index: 2;">
		<div class="titleform">{{appname}}</div>
		<div class="subtitleform">{{claim}}</div>

		<app-authent [showExtensionWallet]="true"
		             [showWalletConnect]="true"
		             (authent)="authent($event)"
		             ></app-authent>

		<ngx-recaptcha2 #captchaElem
		                *ngIf="address.length>0"
		                [siteKey]="siteKey"
		                (reset)="handleReset()"
		                (expire)="handleExpire()"
		                (load)="handleLoad()"
		                (success)="handleSuccess($event)"
		                [useGlobalDomain]="false"
		                formControlName="recaptcha">
		</ngx-recaptcha2>

	</div>
</div>
