@use 'sass:map';
@use './node_modules/@angular/material' as mat;
@use '../../nfluent' as nfluent;

$accent-palette: map.get(mat.get-color-config(nfluent.$nfluent-theme), 'accent');
$primary-palette: map.get(mat.get-color-config(nfluent.$nfluent-theme), 'primary');

.bloc-container {
  margin: 0px;
  padding: 0px;
  align-items: stretch;
  width:100vw;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.divbloc {
    display: inline-flex;
    position: relative;
    background-color: white;
    margin: 20px;
    max-width: 450px;
    min-width: 300px;
    max-height: 30vh;
    text-align: left;
    color: mat.get-color-from-palette($primary-palette, 700);
  box-shadow: 4px 4px 44px 0px mat.get-color-from-palette($accent-palette, 200);
}

.divbloc:hover {
  box-shadow: 4px 4px 44px 0px mat.get-color-from-palette($accent-palette, 500);
}

