<div class="app-section" [style.background-color]="bgcolor">
	<div class="mat-headline-4" style="display: inline-block;position:relative;width:fit-content;max-width: 80%;">
		  {{title}}
    <div class="greenline"></div>
  </div>
  <br>

  <div *ngIf="subtitle?.length>0" class="mat-headline-5"
       style="margin-top: -30px;width: 80%;text-align: center;display: inline-block;">
		  {{subtitle}}
  </div>

  <br><br>

	<ng-content style="width: 100vw;padding:0;margin:0;"></ng-content>
	<br>
</div>
