/* You can add global styles to this file, and also import other style files */

@use './node_modules/@angular/material' as mat;
@use './nfluent';

@include mat.core();


html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.mainform {
  width:100%;
  padding: 0;
  text-align: center;
  color: black;
}

mat-expansion-panel-header {
  @extend .mat-headline-6;
  @extend .color-primary;
}

button {
  font-size: small !important;
}






/* What can you do with NFLUENT ? */




